{% load product_extras %}


<div class="card">
    <div class="card-body">
        <div class="font-weight-bold">
            Resumen del pedido
        </div>
    </div>
    <div class="">
        <table class="table-borderless table-sm">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Productos: </td>
                    <td>{{ cart.total | price_format }} </td>
                </tr>
                <tr>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="">
        <hr>
        <div class="font-weight-bold text-danger">
            Total (Impuestos incluidos)
            <div class="d-inline-block">
                {{ order.total | price_format}}
            </div>
        
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="pickup_datetime">Fecha y hora de recogida:</label>
            <input type="datetime-local" id="pickup_datetime" name="pickup_datetime" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <div class="mt-2">
        <a href= {% url "orders:confirm" %} class="btn btn-warning">Confirmar pedido</a>
    </div>
    <div class="mt-2">
        <a href= {% url "orders:cancel" %} class="btn btn-danger">Cancelar la orden</a>
    </div>
</div> 