{%extends '../layouts/plantillaindex.html'%}
{% block breadcrumb %}
  {% include 'orders/snippets/breadcrumb.html' %}
{% endblock %}

{% block content %}
    <div class="col-8">
        <div class="h3">
        Confirma tu pedido
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
        
                </div>
                <div class="col-4">
        
                </div>
                <div class="col-4">
        
                </div>
            </div>
        </div>
    </div>
{% endblock %}