<form action="{% url 'carts:add' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <div class="row mb-4">
        <button type="button" class="btn btn-info d-inline" id="remove">-</button>
        <input type="number" value="1" class="form-control col-sm-1 d-inline" id="quantity" name="quantity">
        <button type="button" class="btn btn-info" id="add">+</button>
    </div>
    <div class="mt-2">
        <button type="submit" class="btn btn-warning">Agregar al carrito</button>
    </div>
</form>

<script>
    const add = document.getElementById('add');
    const remove = document.getElementById('remove');
    const quantity = document.getElementById('quantity');

    add.addEventListener('click', function () {
        quantity.value = parseInt(quantity.value) + 1;
    });

    remove.addEventListener('click', function () {
        // Verificar que la cantidad no sea menor o igual a 0 antes de restar
        if (parseInt(quantity.value) > 0) {
            quantity.value = parseInt(quantity.value) - 1;
        } else {
            // Si la cantidad es 0, no permitir restar más
            alert("La cantidad no puede ser negativa");
        }
    });
</script>    const add = document.getElementById('add');
    const remove = document.getElementById('remove');
    const quantity = document.getElementById('quantity');

    add.addEventListener('click', function () {
        quantity.value = parseInt(quantity.value) + 1;
    });

    remove.addEventListener('click', function () {
        quantity.value = parseInt(quantity.value) - 1;
    });
</script>
