{% load static %}
<!doctype html>
<html lang="en">

<head id="header">
  <title>Recuperar Contraseña</title>
  <!-- Required meta tags -->
  <!-- <link rel="apple-touch-icon" href="{% static 'iconos/Icono H_G.png' %}"> -->
  <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico"> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{% static 'css/styleLogin.css' %}" rel="stylesheet">
    
    <style>
        .custom-height {
            padding-top: 30px;
            height: 400px;
        }
        .titulo-inicio{
            background-color:#1f57b5;
        }
        .iniciar-sesion-h1{
            color: #ffffff;
        }

    </style>
</head>

<body>
    <header id="header">
            <div class="logo">
                <a class="navbar-brand text-success logo h1 align-self-center" href="{% url 'inicio' %}">
                    <img src="{% static 'iconos/H_G_Valencia.png' %}" alt="Logo de H G Valencia">
                </a>

            </div>

    </header>


    <main class="login-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">

                        <div class="card-header text-center titulo-inicio">
                            <h5 class="iniciar-sesion-h1">Recuperar Contraseña</h5>
                        </div>

                        <div class="card-body custom-height ">
                            <section class="container-login">
                                <div class="img"></div>
                                <div class="container">
                                    <h5 style=" font-size: 28px;"> Le enviamos instrucciones por correo electrónico para configurar
                                        su contraseña, si existe una cuenta con el correo electrónico que ingresó. 
                                        Debería recibirlos en breve.</h5>
                                    <h5 style=" font-size: 25px;">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección
                                        con la que se registró y verifique su carpeta de correo no deseado.</h5>
                                </div>
                            </section>

    </main>

  <footer class="footer">

  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>
 <script src="{% static 'js/validacionInicio.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>
