{%extends './layouts/plantillaindex.html'%}
{% load static %}



{% block title %}nosotros{% endblock %}

{% block content %}

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <section class="bg-success py-5">
        <div class="container">
            <div class="row align-items-center py-5">
                <div class="col-md-8 text-white">
                    <h1>¿Quienes Somos?</h1>
                    <p>
                        Somos más que una tienda de abarrotes; somos tu socio confiable para abastecer tu hogar. Descubre una amplia gama de productos, desde esenciales como arroz, frijoles y harinas hasta artículos de limpieza, cuidado personal y lo mejor para tus mascotas. En nuestro compromiso con la excelencia, te ofrecemos una experiencia de compra única. ¡Haz de nosotros tu destino preferido para satisfacer todas tus necesidades!
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'iconos/super.png' %}" alt="About Hero">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
